$font-headings: "Poppins", ui-sans-serif;
$font-body: "Inter", ui-sans-serif;

/* Colores base*/  
$color-text: #264065;         // texto principal
$color-text-secondary: #909090;     // texto secundario

$color-logo: #a9d6cb;

$space-2: .5rem; $space-3: .75rem; $space-4: 1rem; $space-6: 1.5rem; $space-8: 2rem; $space-12: 3rem; $space-16: 4rem;